@mixin for-tablet-up {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1024px) {
    @content;
  }
}

.d-none {
  display: none !important;
}

.form-container {
  margin-right: 15%;
}

.mt-20 {
  margin-top: 20px;
}

.notification {
  margin-bottom: 0px !important;
}

.navbar {
  height: 80px;
}

.navbar-item img {
  height: 50px;
  max-height: none !important;
}

.d-block {
  display: block !important;
}

.flex-column {
  flex-direction: column;
}

.text-white {
  color: white;
}

.d-flex {
  display: flex;
}

.flex-direction-col {
  flex-direction: column;
}
