@mixin for-tablet-up {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1024px) {
    @content;
  }
}

.d-none {
  display: none !important;
}

.form-container {
  margin-left: 7%;
  margin-right: 40%;
}

.mt-40 {
  margin-top: 40px;
}

.notification {
  margin-bottom: 0px !important;
}

.navbar {
  height: 80px;
}

.navbar-item img {
  height: 50px;
  max-height: none !important;
}