.h-100 {
  height: 100% !important;
}

.h-100vh {
  height: calc(100vh - 80px);
}

.justify-content-end {
  justify-content: flex-end !important;
}

.m-0 {
  margin: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-10px {
  margin-bottom: 10px !important;
}

.mb-30px {
  margin-bottom: 30px !important;
}

.ml-5px {
  margin-left: 5px !important;
}

.mt-10px {
  margin-top: 10px !important;
}

.mt-30px {
  margin-top: 30px !important;
}

.mr-10px {
  margin-right: 10px !important;
}

.my-20 {
  margin: 20% auto !important;
}

.p-10px {
  padding: 10px !important;
}

.p-20px {
  padding: 20px !important;
}

.w-100 {
  width: 100% !important;
}
