.justify-content-end {
  justify-content: flex-end !important;
}

.m-0 {
  margin: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-10px {
  margin-bottom: 10px !important;
}

.ml-5px {
  margin-left: 5px !important;
}

.mt-10px {
  margin-top: 10px !important;
}

.mt-30px {
  margin-top: 30px !important;
}

.p-10px {
  padding: 10px !important;
}

.w-100 {
  width: 100% !important;
}
