%h2 #{@corporation.name}

//Aquí debe mostrar todos los datos de la corporación, el objeto se llama @corporation (es el que trae toda la info) y en corporation.rb están arriba los atributos que tiene

//ya que esté lista la sección de campañas vamos a renderear aquí cards de las campañas que tiene asignadas
