= link_to '< Volver a red semántica', network_path(@network)
.columns
  .column
    = link_to 'Añadir nodo', new_network_node_path(network_id: @network.id), class: 'button mt-10px'

.columns.is-multiline
  = render partial: 'node_card', collection: @nodes, as: :node
