.row
  = link_to 'Volver a campaña', campaign_path(@campaign), class: 'btn btn-primary'
  = link_to 'Añadir nodo', new_campaign_node_path(campaign_id: @campaign), class: 'btn btn-primary'

= render partial: 'node_card', collection: @nodes, as: :node
