#node-stats-modal.modal
  .modal-background
  .modal-card
    %header.modal-card-head
      %h4.modal-card-title Estadisticas del nodo
      %button.delete{"aria-label" => "close"}
    %section#chart-results.modal-card-body
    %footer.modal-card-foot
      %button#accept-btn.button.is-success{"data-dismiss" => "modal", :type => "button"} Aceptar
