a {
  font-family: $font-family-secondary;
}

%cursor-not-allowed {
  cursor: not-allowed;
  pointer-events: none;
}

.cursor-not-allowed {
  @extend %cursor-not-allowed;
}

%cursor-pointer {
  cursor: pointer;
}

.cursor-pointer {
  @extend %cursor-pointer;
}
