%align-self-end {
  align-self: flex-end;
}

.align-self-end {
  align-self: flex-end;
}

%box-shadow {
  box-shadow: $btn-box-shadow;
}

%box-shadow-0 {
  box-shadow: none;
}

%box-shadow-md {
  @include media-breakpoint-up(md) {
    box-shadow: $btn-box-shadow;
  }
}

.box-shadow-md {
  @extend %box-shadow-md;
}
.box-shadow {
  @extend %box-shadow;
}

.full-height {
  min-height: calc(100vh - 50px);
}

%opacity-5 {
  opacity: 0.5;
}

.opacity-5 {
  @extend %opacity-5;
}

%opacity-1 {
  opacity: 1;
}

.opacity-1 {
  @extend %opacity-1;
}

.box-shadow-0 {
  @extend %box-shadow-0;
}

hr {
  width: 100%;
}

.top-10px {
  top: 10px;
}

.top-40 {
  top: 40%;
}

%outline-none {
  outline: none;
}

%overflow-scroll {
  overflow: scroll;
}

.right-0 {
  right: 0;
}

.right-20px {
  right: 20px;
}

.w-fit-content {
  width: fit-content;
}
