%nav.navbar.navbar-expand-lg.navbar-light.bg-light{"aria-label" => "main navigation", :role => "navigation"}
  %a.navbar-brand{:href => "/"}
    = image_tag  "logo.png", height: 50, width: 50

  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon

  #navbarSupportedContentcollapse.navbar-collapse
    %ul.navbar-nav.ml-auto
      - if current_user
        - header_items.each do |item|
          %li.navbar-item
            = link_to item[:title], item[:path], class: 'nav-link'
        %li.navbar-item
          = link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'btn btn-primary'
