%nav.navbar.bg-yellow{role: 'navigation', 'aria-label': 'main navigation'}
  .container
    .navbar-brand
      = link_to image_tag(asset_pack_path('media/application/images/logo.png')), '/', class: 'navbar-item', height: 50, width: 50
      %a#burger-menu.navbar-burger.burger{'aria-expanded': 'false', 'aria-label': 'menu', 'data-target': 'navbar', role: 'button'}
        %span{'aria-hidden': 'true'}
        %span{'aria-hidden': 'true'}
        %span{'aria-hidden': 'true'}


    #navbar.navbar-menu.bg-yellow.text-align-right
      .navbar-end
        - if current_user
          - header_items(current_user).each do |item|
            .navbar-item
              = link_to item[:title], item[:path]
          .navbar-item
            = link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'btn btn-primary'
        - else
          .navbar-item
            = link_to 'Login', new_user_session_path
