%h3 Clientes

.columns
  .column
    = link_to 'Agregar corporativo', new_corporation_path, class: 'button'
    = link_to 'Agregar compañía', new_company_path, class: 'button'

.columns
  .column.is-half
    %h4 Compañías
    .columns.is-multiline
      = render partial: 'company_card', collection: @companies, as: :company

  .column.is-half
    %h4 Corporativos
    .columns.is-multiline
      = render partial: 'corporation_card', collection: @corporations, as: :corporation
