%h2 #{@company.name}

//Aquí debe mostrar todos los datos de la compañía, el objeto se llama @company (es el que trae toda la info) y en company.rb están arriba los atributos que tiene

//ya que esté lista la sección de campañas vamos a renderear aquí cards de las campañas que tiene asignadas
