.row
  = link_to 'Volver a red semántica', network_path(@network), class: 'btn btn-primary'
  = link_to 'Añadir relación', new_network_edge_path(network_id: @network.id), class: 'btn btn-primary'

= render partial: 'edge_card', collection: @edges, as: :edge
