= link_to '< Volver a red semántica', network_path(@network)

.columns
  .column
    = link_to 'Añadir relación', new_network_edge_path(network_id: @network.id), class: 'button mt-10px'

.columns.is-multiline
  = render partial: 'edge_card', collection: @edges, as: :edge
