%h3 Nueva relación

.columns
  .column
    = form_for(@edge, url: network_edges_path(network_id: @network), method: :post) do |f|
      = render 'form', f: f

  .column.b-1px-gray
    %h5 Nodos existentes
    = render partial: 'nodes/node', collection: @network.nodes, as: :node
