%h2 Nodos existentes

= render partial: 'nodes/node', collection: @network.nodes, as: :node

= simple_form_for(@edge, url: network_edges_path(network_id: @network), method: :post) do |f|
  = render 'form', f: f
