%h2 Nodos existentes

= render partial: 'nodes/node', collection: @campaign.nodes, as: :node

= simple_form_for(@edge, url: campaign_network_edges_path(campaign_id: @campaign.id, network_id: @campaign.network.id), method: :post) do |f|
  = render 'form', f: f
