.column.is-one-third
  .card
    .card-content
      %h5 #{coworker.name}
      %p.text-truncate  Correo: #{coworker.email}
    .card-footer.justify-content-end.p-10px
      = link_to 'Eliminar', campaign_coworker_path(id: coworker.id, campaign_id: coworker.campaign_id), class: 'button is-danger', method: :delete
      = link_to 'Editar', edit_campaign_coworker_path(id: coworker.id, campaign_id: coworker.campaign_id), class: 'button is-info ml-5px'
