$almost-black: #170312;
$almost-white: #ededed;
$black: #000000;
$blue: #54a3ff;
$cold-gray: #eee5e3;
$dark-gray: #531253;
$gray: #d8d8d8;
$light-gray: #e3e4e6;
$silver: #c5c5c5;
$purple: #33032f;
$red: #C71E3A;
$soft-gray: #e9ecef;
$green: #10D351;
$warm-gray: #a0acad;
$warm-white: #fafafa;
$white-light: #f1f1f1;
$white-two: #f8f8f8;
$white: #fff;
$yellow: #f9d026;

$md: 768px;
