$regular-padding: 25px;
$regular-margin: 15px;

$primary: #72705b;
$link: #0facf3;
$info: #a7c4b5;
$success: #beffc7;
$warning: #f57e1e;
$danger: #ed4119;
$dark: #38302e;
$text: #211b1a;

$family-primary: 'Roboto';
$family-secondary: 'Oswald';

$font-size-paragraph: 16px;
