.row
  = link_to 'Volver a campaña', campaign_path(@campaign), class: 'btn btn-primary col-4'
  = link_to 'Nuevo post', new_campaign_post_path(@campaign), class: 'btn btn-primary col-4'

= render partial: 'post_card', collection: @posts, as: :post
