= link_to '< Volver a campaña', campaign_path(@campaign)

.columns
  .column
    = link_to 'Nuevo post', new_campaign_post_path(@campaign), class: 'button mt-10px'

.columns.is-multiline
  = render partial: 'post_card', collection: @posts, as: :post
