nav.navbar {
  background-color: #e0ccc7;
  padding: 10px;

  .navbar-item > a {
    color: $dark;
    font-size: $font-size-paragraph;
    font-weight: bold;
  }

  .navbar-item > img {
    min-height: 40px;
    min-width: 60px;
  }
}
