#network-container {
  border: 1px solid $almost-white;
  height: 700px;
  margin: 20px 0;
  width: 100%;
}

.network-popup {
  background-color: $almost-white;
  border-color: $purple;
  border-style: solid;
  border-width: 3px;
  display: none;
  height: 120px;
  left: 170px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 350px;
  width: 250px;
  z-index: 299;
}
