%h1
  = @campaign.name

.row
  .col
    Objetivo:
    %p=@campaign.objective

  .col
    Fecha de inicio:
    %p=@campaign.start_date

  .col
    Fecha de termino:
    %p=@campaign.end_date

  .col
    Tipo de campaña:
    %p=@campaign.campaign_type

  .col
    Producto:
    %p=@campaign.product

.row
  = link_to 'Administrar red semántica', campaign_network_path(@campaign), class: 'btn btn-primary col'


-# %h3
-#   Coworkers
-# %table.table.has-full-width.has-regular-margin
-#   %thead
-#     %tr
-#       %th
-#         Email
-#       %th
-#         Rol
-#   %tbody
-#     - @campaign.coworkers.each do |coworker|
-#       - if coworker.user
-#         %tr
-#           %td
-#             %p=coworker.user&.email
-#           %td
-#             = t("coworker.roles.#{Coworker.roles.key(coworker&.role)}")

-# %h3.has-regular-margin
-#   Agregar empledo
-# = simple_form_for(@coworker, url: community_campaign_coworkers_path(@campaign), method: :post, defaults: { wrapper: false }) do |f|
-#   .field.is-horizontal.has-regular-margin
-#     .field-body
-#       .field
-#         .column.is-paddingless
-#           = f.label :user, 'Empleado'
-#           = f.input :user, collection: current_user.company.employees.map { |employee| [ employee.email, employee.id ] }, include_blank: false
-#       .field
-#         .column.is-paddingless
-#           = f.label :role, 'Rol'
-#           = f.input :role, collection: Coworker.roles.keys.map { |role| [t("coworker.roles.#{role}"), role.to_s ] }, include_blank: false
-#   = f.submit 'Registrar', class: 'button is-primary'

