%h1
  = @campaign.name

.row
  .col
    Objetivo:
    %p=@campaign.objective

  .col
    Fecha de inicio:
    %p=@campaign.start_date

  .col
    Fecha de termino:
    %p=@campaign.end_date

  .col
    Tipo de campaña:
    %p=@campaign.campaign_type

  .col
    Producto:
    %p=@campaign.product

.row
  = link_to 'Administrar red semántica', network_path(@campaign.network), class: 'btn btn-primary col'

.row
  = link_to 'Administrar colaboradores de la campaña', campaign_coworkers_path(@campaign), class: 'btn btn-primary col'

.row
  = link_to 'Administrar publicaciones', campaign_posts_path(campaign_id: @campaign), class: 'btn btn-primary col'
